
  <div id="post<%= post.id %>">
    <p>
      <h4 ><%= post.title %></h4>
      
      <div><%= post.text %></div>
      
      <td><%= link_to '评论详情',post_path(post) ,class: "btn btn-info" ,id: 'show-comments'%></td>
    <td><%= link_to '更新', edit_post_path(post),class: "btn btn-warning" ,id:'update' %></td>

     <td><%= link_to '删除',
                     post, 
                     remote: true,
                     method: :delete,
                     data: { confirm: "点击确定继续" }, 
                     class: 'btn btn-danger',
                     id: "delete-apost" %>
     </td>
      <hr/>
    </p>
  </div>


 <script type="text/javascript">
  jQuery(function($) {
    $('#show-comments').click(function() {
      $.get("/posts/post.id", $("#post-form").serialize())
        .success(function(result) {
          $('#posts_list').prepend(result);
        });
    });


  });
</script> 
  
