<p>
  <tr class="post_<%= @post.id %>">
      <h4><%= @post.title %></h4>
      
      <div><%= @post.text %></div>
      <td><%= link_to '详情', post_path(@post),:class=>"btn btn-info" %></td>
    <td><%= link_to '更新', edit_post_path(@post),:class=>"btn btn-warning" %></td>

     <td><%= link_to '删除', @post, 
     remote: true, 
     :data => { :confirm => "点击确定继续" }, 
     :method => :delete,
     :class => 'btn btn-danger' %>
     </td>
  </tr>
  
  <hr/>
</p>
