<p>
	
  
  <h4><%= @post.title %></h4>
</p>
 
<p>
  
  <%= @post.text %>
</p>
<h4>评论详情:</h4>
<div id ="comments-list">
  <%= render @post.comments %>
</div>
<p>
	<%= render "comments/form" %>
</p>
<%= link_to '返回论坛', posts_path %>



